body {
  font-size: 100px;
  color: white;
  margin: 0 auto;
}

.container {
  height: 800px;

  position: relative;
}

#time {
  font-family: "Montserrat", sans-serif;
  top: 300px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
